
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 5%;
    position: center;
    top: 0;
    z-index: 100;
    width: 700px;
    height: 60px;
    border-radius: square;
    margin: 0 auto;
}

.name {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    font-weight: bold;
    box-sizing: border-box;
    margin: auto;
}


nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
}

.hero-section {
    position: relative;
    height: 100vh;
    background: url('images/2.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content {
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.hero-content h1 {
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    font-weight: 600;
    margin: 0;
}

.order-button {
    background-color: rgb(255, 190, 190);
    border: 2px solid rgb(255, 252, 252);
    padding: 0.8rem 2.5rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
    color:white;
}

.order-button:hover {
    background-color: rgba(247, 158, 158, 0.7);
}

.products-section {
    text-align: center;
    padding: 5rem 5%;
    background-color: #ffdddd;
}

.products-section h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 0 auto;
    color: #444;
}

.product-grid {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.product-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.product-card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 0 auto;
    height: 350px ;
}

.product-card h3 {
    margin: 0.5rem 0;
    font-size: 1.2rem;
    font-weight: 600;
}

.product-card p {
    color: #888;
    font-size: 0.9rem;
    margin: 0;
}

.holiday-section {
    background-color: rgb(247, 205, 212);
    box-shadow: none;
    height: 600px;
    text-align: center;
}
.holiday-section h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 0 auto;
    color: #444;
    margin-top: 0 auto;
}